@charset "utf-8";
@import "bootswatch_flatly";

// <Reset & Adjust>

html {
  margin: 0;
  border: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  position: relative; // For scrollspy
}
h2 {
  margin-top: 30px;
  margin-bottom: 15px;
}

// <Mixins>
// Vertical-align (Table Method)
@mixin vcenter($vwidth: 100%, $vheight: 100%) {
  display: table;
  width: $vwidth;
  height: $vheight;
  min-height: $vheight;
}
@mixin vcenterInner {
  display: table-cell;
  vertical-align: middle;
}
// Buttons
@mixin buttonSetup($themeColor, $fontColor) {
  a {
    button {
      display: inline-block;
      color: $themeColor;
      font-size: 15px;
      text-decoration: none;
      background-color: transparent;
      margin-bottom: 20px;
      text-align: center;
      vertical-align: middle;
      -ms-touch-action: manipulation;
          touch-action: manipulation;
      cursor: pointer;
      border: 1px solid $themeColor;
      padding: 10px 15px;  
      line-height: 1.42857143;
      border-radius: 4px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;  
      }
    :hover,
    :active {
      color: $fontColor;
      border-color: $themeColor;
      background-color: $themeColor;
    }
  }
}


// Top-Fixed Navigation Bar (_headerNav.erb)

.headerNav {
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 0px;
  border-radius: 0;
  height: 32px;
  min-height: 32px;
  text-align: center;
  z-index: 10;
}
.headerNavLink {
  margin-bottom: 0px;
  .navLinkText {
    display: inline-block;
    padding: 0 10px;
    font-size: 15px;
    a {
      color: #ffffff;
      line-height: 32px;
    }
    :hover {
      background: #999999;
      color: #fff;
      text-decoration: none;
    }
  }
  .headerNavLinkRight {
    float: right;
    a {
      color: #ffaf40;
    }
    :hover {
      text-decoration: none;
    }
  }
}
@media (max-width: 767px) {
  body {
    margin-top: 0px;
    .headerNav {
      display: none;
    }
  }
}


// Customize index.html (index.html)

html,
.index {
  height: 100%; /*For Full-Screen Size Cover image.*/
}

// Header Cover (_headerCover.erb)
.siteWrapper {
  @include vcenter;
  -webkit-box-shadow: inset 0 0 300px rgba(0,0,0,.5);
     -moz-box-shadow: inset 0 0 300px rgba(0,0,0,.5);
       -o-box-shadow: inset 0 0 300px rgba(0,0,0,.5);
          box-shadow: inset 0 0 300px rgba(0,0,0,.5);
  .siteWrapperInner {
    @include vcenterInner;
    .coverContainer {
      margin-right: auto;
      margin-left: auto;
      .coverInner {
        padding: 0 20px;
      }
    }
  }
}
@media (min-width: 768px) {
  .coverContainer {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}
@media (min-width: 992px) {
  .coverContainer {
    width: 700px;
  }
}

// Event Intro w/ Parallax Background (_eventInfoParalBack.erb)
.infoWrapper {
  @include vcenter(100%, 60%);
  .infoWrapperInner {
    @include vcenterInner;
    background : linear-gradient(transparent, rgba(0,0,0,.9)), url(../images/800_450.jpg) fixed no-repeat 100%;
    background-size: cover;
    background-position: center;
    padding: 80px 0 110px 0;
  }
}
.infoText {
  h2 {
    color: #ffffff;
  }
  p {
    color: #ffffff;
  }
}

// Event List (_subEventInfo2.erb, _subEventInfo3.erb)
.eventList {
  padding: 80px 25px 50px 25px;
}
.eventListWrapper {
  text-align: center;
  padding: 0 35px;
  .eventListImage {
    display: inline-block;
    width: 60%;
  }
  p {
    text-align: left;
    margin-bottom: 20px;
  }
  @include buttonSetup(#f89680, #fff);
}
.eventList1Text {
  padding: 0px 1% 0 10%;
  h2,
  p {
    text-align: left;
  }
}

// Video Block (_video.erb)
.videoContainer {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
 
// Sponsor Block (_sponsorArea1.erb, _sponsorArea2.erb, _sponsorArea3.erb)
.sponsorBlock {
  .row {
    display: flex;
    .sponsorInfo {
      align-items: stretch;
      color: #fff;
      padding-bottom: 75px;
      @include buttonSetup(#fff, #000);
      a {
        position: absolute;
        bottom: 0;
        right: 10px;
      }
    }
  }
}
.sponsorInfo31 {
  background: linear-gradient(transparent, #000), url(../images/400_600_1.png) scroll no-repeat center;
  background-size: cover;
}
.sponsorInfo32 {
  background: linear-gradient(transparent, #000), url(../images/400_600_2.png) scroll no-repeat center;
  background-size: cover;
}
.sponsorInfo33 {
  background: linear-gradient(transparent, #000), url(../images/400_600_3.png) scroll no-repeat center;
  background-size: cover;
}
.sponsorInfo21 {
  background: linear-gradient(transparent, #000), url(../images/800_450.jpg) scroll no-repeat center;
  background-size: cover;
}
.sponsorInfo22 {
  background: linear-gradient(transparent, #000), url(../images/800_450.jpg) scroll no-repeat center;
  background-size: cover;
}
.sponsorInfo11 {
  background: linear-gradient(transparent, #000), url(../images/800_450.jpg) scroll no-repeat center;
  background-size: cover;
}

// Sponsor Popups
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 70%;
  position: relative;
  transition: all 5s ease-in-out;
  h2 {
    margin-top: 0;
    color: #0000aa;
    font-family: Tahoma, Arial, sans-serif;
  }
  .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #0000aa;
  }
  .content {
    max-height: 30%;
    overflow: auto;
  }
}
@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

// Used Sponsor Area
.sponsorUsed {
  h2, p {
    color: #666;
  }
    background: linear-gradient(transparent, #aaaaaa);
  a {
    display: none;
  }
}

// Footer - Brands (_brandArea.erb)
.footerBrandBlock {
  background-color: #000;
  color: #fff;
  padding-bottom: 8%;
  .brandTitle {
    text-align: center;
    padding-top: 6%;
  }
  .brandHyphen {
    width: 4%;
    margin: 2% 48% 4% 48%;
    border: 1px solid #fff; 
  }
  .brandLogoContainer {
    margin: 0 10%;
    .brandLogo{
      display: inline-block;
      width: 8%;
      margin: 0 4%;
    }
  }
}

// Footer - Buying (_buyingArea.erb)
.footerBuyBlock {
  //@include vcenter (100%, 10%);
  @include buttonSetup(#fff, #0000aa);
  background-color: #0000aa;
  color: #fff;
  padding: 2% 18% 2% 25%;
  
  .buyBlockInner {
    display: flex;
    align-items: center;
    //@include vcenterInner;
    .buyText {
      display: inline-block;
    }
    a {
      display: inline-block;
      float: right;
      margin-left: 6%;
      button {
        margin-bottom: 0;
      }
    }
    p {
      margin-bottom: 0;
    }
  }
}



