@charset "utf-8";
@import "bootswatch_flatly";

// <Reset & Adjust>

html {
  margin: 0;
  border: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  position: relative; // For scrollspy
}
h2 {
  margin-top: 30px;
  margin-bottom: 15px;
}

// <Mixins>
// Vertical-align Mixin(Table Method)
@mixin vcenter($vwidth: 100%, $vheight: 100%) {
  display: table;
  width: $vwidth;
  height: $vheight;
  min-height: $vheight;
}
@mixin vcenterInner {
  display: table-cell;
  vertical-align: middle;
}

// Buttons Mixin
@mixin buttonSetup($themeColor, $fontColor) {
  a {
    button {
      display: inline-block;
      color: $themeColor;
      font-size: 15px;
      text-decoration: none;
      background-color: transparent;
      margin-bottom: 20px;
      text-align: center;
      vertical-align: middle;
      -ms-touch-action: manipulation;
          touch-action: manipulation;
      cursor: pointer;
      border: 1px solid $themeColor;
      padding: 10px 15px;  
      line-height: 1.42857143;
      border-radius: 4px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;  
      }
    :hover,
    :active {
      color: $fontColor;
      border-color: $themeColor;
      background-color: $themeColor;
    }
  }
}

// Sponsor Block Setting Mixin
@mixin sponsorBlock ($blockHeight, $buttonRight, $buttonBottom) {
  .row {
    display: flex;
    @media (max-width: 767px) {
      display: block;
    }
    .sponsorInfo {
      align-items: stretch;
      @media (max-width: 767px) {
        display: block;
      }
      color: #fff;
      padding-top: 5%;
      padding-bottom: $blockHeight;
      @include buttonSetup(#fff, #000);
      a {
        position: absolute;
        bottom: $buttonBottom;
        right: $buttonRight;
      }
    }
  }
}


// Top-Fixed Navigation Bar (_headerNav.erb)

.headerNav {
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 0px;
  border-radius: 0;
  height: 32px;
  min-height: 32px;
  text-align: center;
  z-index: 10;
}
.headerNavLink {
  margin-bottom: 0px;
  .navLinkText {
    display: inline-block;
    padding: 0 10px;
    font-size: 15px;
    a {
      color: #ffffff;
      line-height: 32px;
    }
    :hover {
      background: #999999;
      color: #fff;
      text-decoration: none;
    }
  }
  .headerNavLinkRight {
    float: right;
    a {
      color: #ffaf40;
    }
    :hover {
      text-decoration: none;
    }
  }
}
@media (max-width: 767px) {
  body {
    margin-top: 0px;
    .headerNav {
      display: none;
    }
  }
}


// Customize index.html (index.html)

html,
.index {
  height: 100%; /*For Full-Screen Size Cover image.*/
}

// Header Cover (_headerCover.erb)
.siteWrapper {
  @include vcenter;
  -webkit-box-shadow: inset 0 0 300px rgba(0,0,0,.5);
     -moz-box-shadow: inset 0 0 300px rgba(0,0,0,.5);
       -o-box-shadow: inset 0 0 300px rgba(0,0,0,.5);
          box-shadow: inset 0 0 300px rgba(0,0,0,.5);
  .siteWrapperInner {
    @include vcenterInner;
    .coverContainer {
      margin-right: auto;
      margin-left: auto;
      .coverInner {
        padding: 0 20px;
      }
    }
  }
}
@media (min-width: 768px) {
  .coverContainer {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}
@media (min-width: 992px) {
  .coverContainer {
    width: 700px;
  }
}


// Event Intro w/ Parallax Background (_eventInfoParalBack.erb)

.infoWrapper {
  @include vcenter(100%, 60%);
  .infoWrapperInner {
    @include vcenterInner;
    background : linear-gradient(transparent, rgba(0,0,0,.9)), url(../images/800_450.jpg) fixed no-repeat 100%;
    background-size: cover;
    background-position: center;
    padding: 4% 0 6.5% 0;
    @media (max-width: 767px) {
      padding: 4% 3% 6.5% 3%;
    }
  }
}
.infoText {
  h2 {
    color: #ffffff;
  }
  p {
    color: #ffffff;
  }
}


// Event List (_subEventInfo2.erb, _subEventInfo3.erb)

.eventListWrapper {
  text-align: center;
  padding: 5%;
  @media (max-width: 767px) {
    padding: 10%;
  }
  .eventListImage {
    display: inline-block;
    width: 70%;
  }
  p {
    text-align: left;
    margin-bottom: 20px;
  }
  @include buttonSetup(#f89680, #fff);
  .eventLinkButton {
    margin-bottom: 5%;
  }
}
.eventList1Img {
  min-width: 100%;
}
.eventList3Img {
  min-width: 80%;
}
.eventList1Text {
  padding: 6%;
  @media (max-width: 767px) {
    padding: 10%;
  }
  h2,
  p {
    text-align: left;
  }
  h2 {
    margin-top: 15px;
  }
}


// Video Block (_video.erb)

.videoContainer {
  position: relative;
  padding-bottom: 43%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  @media (max-width: 767px) {
    padding-bottom: 70%;
  }
  @media (max-width: 420px) {
    padding-bottom: 100%;
  }
}


// Sponsor Block (_sponsorArea1.erb, _sponsorArea2.erb, _sponsorArea3.erb)
// $blockHeight, $buttonRight, $buttonBottom

.sponsorBlock1 {
  @include sponsorBlock(20%, 15%, 15%);
  @media (max-width: 767px) {
    @include sponsorBlock(25%, 15%, 15%);
  }
}
.sponsorBlock2 {
  @include sponsorBlock(14%, 13%, 14%);
  @media (max-width: 767px) {
    @include sponsorBlock(25%, 15%, 15%);
  }
}
.sponsorBlock3 {
  @include sponsorBlock(10%, 13%, 10%);
  .row {
    .sponsorInfo {
      padding-top: 3%; // Height adjust. Default value of @mixin is too damn high.
    }
  }
  @media (max-width: 767px) {
    @include sponsorBlock(25%, 15%, 15%);
  }
}

@mixin sponsorInfoCollapse ($infoPadding: 10%) {
  @media (max-width: 767px) {
    padding: 0 $infoPadding;
  }
}

.sponsorInfo31 {
  background: linear-gradient(transparent, #000), url(../images/400_600_1.png) scroll no-repeat center;
  background-size: cover;
  padding: 0 4%;
  @include sponsorInfoCollapse;
}
.sponsorInfo32 {
  background: linear-gradient(transparent, #000), url(../images/400_600_2.png) scroll no-repeat center;
  background-size: cover;
  padding: 0 4%;
  @include sponsorInfoCollapse;
}
.sponsorInfo33 {
  background: linear-gradient(transparent, #000), url(../images/400_600_3.png) scroll no-repeat center;
  background-size: cover;
  padding: 0 4%;
  @include sponsorInfoCollapse;
}
.sponsorInfo21 {
  background: linear-gradient(transparent, #000), url(../images/800_450.jpg) scroll no-repeat center;
  background-size: cover;
  padding: 0 6%;
  @include sponsorInfoCollapse;
}
.sponsorInfo22 {
  background: linear-gradient(transparent, #000), url(../images/800_450.jpg) scroll no-repeat center;
  background-size: cover;
  padding: 0 6%;
  @include sponsorInfoCollapse;
}
.sponsorInfo11 {
  background: linear-gradient(transparent, #000), url(../images/800_450.jpg) scroll no-repeat center;
  background-size: cover;
  padding: 0 15%;
  @include sponsorInfoCollapse;
}


// Sponsor Popups

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 70%;
  position: relative;
  transition: all 5s ease-in-out;
  h2 {
    margin-top: 0;
    color: #0000aa;
    font-family: Tahoma, Arial, sans-serif;
  }
  .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #0000aa;
  }
  .content {
    max-height: 30%;
    overflow: auto;
  }
}
@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}


// Used Sponsor Area

.sponsorUsed {           // Add this class to change sponsor section status.
  color: #444 !important;
  a {
    pointer-events: none;
    button {
      background-color: #fff !important;
      border: 1px solid #000 !important;
      span {   
        color: #444;
      }
    }
  }
}
.buttonWordsUsed {      // Toggle this class to change button words.
  display: none;
}


// Footer - Brands (_brandArea.erb)

.footerBrandBlock {
  background-color: #000;
  color: #fff;
  padding-bottom: 8%;
  .brandTitle {
    text-align: center;
    padding-top: 6%;
  }
  .brandHyphen {
    width: 4%;
    margin: 2% 48% 4% 48%;
    border: 1px solid #fff; 
  }
  .brandLogoContainer {
    margin: 0 10%;
    .brandLogo{
      display: inline-block;
      width: 8%;
      margin: 0 4%;
      @media (max-width: 767px) {
        width: 16%;
        margin: 5% 8%;
      }
    }
  }
}


// Footer - Buying (_buyingArea.erb)

.footerBuyBlock {
  @include buttonSetup(#fff, #0000aa);
  background-color: #0000aa;
  color: #fff;
  padding: 3% 16%;
  @media (max-width: 767px) {
    padding: 3% 5%;
  }
  
  .buyBlockInner {
    display: flex;
    align-items: center;
    justify-content: center;
    .buyText {
      display: inline-block;
    }
    a {
      margin-left: 3%;
      button {
        margin-bottom: 0;
      }
    }
    p {
      margin-bottom: 0;
    }
  }
}








