<div class="container-fluid footerBrandBlock" id="brands">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h3 class="brandTitle">The event is also sponsored by...</h3>
		</div>
	</div>
	<div class="brandHyphen"></div>
	<div class="brandLogoContainer">
		<img src="images/logo1.png" class="brandLogo">
		<img src="images/logo2.png" class="brandLogo">
		<img src="images/logo3.png" class="brandLogo">
		<img src="images/logo4.png" class="brandLogo">
		<img src="images/logo5.png" class="brandLogo">
		<img src="images/logo6.png" class="brandLogo">
	</div>
</div>