<div class="container-fluid footerBuyBlock">
	<div class="buyBlockInner">
		<div class="buyText">
			<p><%= lorem.words 10 %>.</p>
		</div>
		<a href="#">
			<button class="buyButton">
				購票去
			</button>
		</a>
	</div>
</div>