<div class="container-fluid footerBuyBlock">
	<div class="buyBlockInner">
		<div class="buyText">
			<p>邀請你的好夥伴，<br class="show440" />共享大學最後的晚宴！</p>
		</div>
		<a href="#">
			<button class="buyButton">
				購票去
			</button>
		</a>
	</div>
</div>