<div class="container-fluid eventList" id="feature">
	<div class="row">

		<div class="col-sm-6 col-sm-push-6 eventListWrapper">
			<img src="images/eventDetail1.jpg" class="eventListImage eventList1Img image1">
		</div>

		<div class="col-sm-6 col-sm-pull-6 eventListWrapper">
			<div class="eventListText1">
				<h2>活動訊息</h2>
				<p>【活動時間】 <br class="show768" />2016/05/09 <br class="show768" />18：00 - 21：30<br/>
				【活動地點】 <br class="show768" />銘傳大學台北校區-逸仙堂<br/>
				【執行單位】 <br class="show768" />銘傳大學台北校區畢業生聯合會<br/>
				【合力單位】 <br class="show768" />銘傳大學課外活動指導組</p>
			</div>
		</div>		
	</div>

	<div class="row">

		<div class="col-sm-6 eventListWrapper">
			<img src="images/eventDetail2.jpg" class="eventListImage eventList1Img image2">
		</div>

		<div class="col-sm-6 eventListWrapper">
			<div class="eventListText2">
				<h2>預約訂位訊息</h2>
				<p>【預約時間】<br class="show768" />2016/04/08 (五) 18：00 - 2016/04/17 (日) 12：00<br/>
				【餐會票價】<br class="show768" />NT$4500/桌<br/>
				【優惠方案】<br class="show768" />申辦 yes123 會員、完成指定項目，向畢聯會提出證明，方可優待 NT$100元/人<br/>
				【洽詢電話】<br class="show768" />畢業餐會-總召集人：<br class="show768" />財金四丙潘柏辰 0911-629605、<br class="show768" />國企四丙湯志剛 0922-053282</p>
				<p>訂位採取 10 人以內（包含 10 人）團體報名方式，<br/>
				請選各桌選出一名桌長，以及一名副桌長，提供畢聯會傳達活動訊息。
				</p>
			</div>
		</div>
	</div>
		
	</div>
</div>