<div class="container-fluid eventList" id="feature">
	<div class="row">

		<div class="col-sm-6 col-sm-push-6 eventListWrapper">
			<img src="images/400_300.jpg" class="eventListImage eventList1Img">
		</div>

		<div class="col-sm-6 col-sm-pull-6 eventListWrapper eventList1Text">
			<h2><%= lorem.words 2%></h2>
			<p><%= lorem.paragraph %></p>
			<!-- <a href="#">
				<button class="eventLinkButton">
					前往活動
				</button>
			</a> -->
		</div>
		
	</div>
</div>