<div class="infoWrapper" id="info">
	<div class="infoWrapperInner">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 infoText">
					<p>隨著時間過去，<br class="show440" />是否還曾記得我們所屬的大學生活？</p>
					<p>在未來，<br class="show440" />或許有一天你會忘記課本教的內容，<br/>
					但你絕對不會忘記，<br class="show440" />陪你一起走過大學的人。<p>
					<p>承襲過去，創新未來。<br/>
					正式服裝參加，<br class="show440" />正式迎接畢業，<br class="show440" />正視自己的未來。<br/>
					現在趕緊邀請你大學四年中的好夥伴，<br class="show440" />一起共享大學最後的晚宴！</p>
				</div>
			</div>
		</div>
	</div>
</div>