<nav class="navbar-default headerNav">
  <div class="container-fluid">
    <ul class="headerNavLink">
      <li class="active"><a href="#">Link<span class="sr-only"> (current)</span></a></li>
      <li><a href="#">Link</a></li>
      <li class="headerNavLinkRight"><a href="#">BuyBuyBuy</a></li>
    </ul>
  </div>
</nav>