<div class="siteWrapper" id="top">
  <div class="siteWrapperInner">
    <div class="coverContainer">
      <div class="coverInner">
        <h1 class="coverHeading">Cover your page.</h1>
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
      </div>
    </div>
  </div>
</div>