<nav class="navbar navbar-default headerNav">
	<div class="container-fluid">
		<div class="headerNavLink">
			<div class="active navLinkText"><a href="#Top">Top</a></div>
			<div class="navLinkText"><a href="#info">Info</a></div>
			<div class="navLinkText"><a href="#feature">Feature</a></div>
			<div class="navLinkText"><a href="#event2">Event2</a></div>
			<div class="navLinkText"><a href="#event3">Event3</a></div>
			<div class="navLinkText"><a href="#video">Video</a></div>
			<div class="navLinkText"><a href="#sponsorArea3">Sponsor Area</a></div>
			<div class="navLinkText"><a href="#brands">Brand</a></div>
			<div class="headerNavLinkRight navLinkText"><a href="#">前往購票</a></div>
		</div>
	</div>
</nav>