<div class="container-fluid sponsorBlock1" id="sponsorArea1">
	<div class="row">

		<div class="col-sm-12 sponsorInfo sponsorInfo11">
			<h2><%= lorem.words 2%></h2>
			<p><%= lorem.paragraphs 2%></p>
			<a href="#popup11">
				<button class="sponsorButton">
					<span class="">開始領取</span>
					<span class="buttonWordsUsed">已領取</span>
				</button>
			</a>
		</div>

	</div>
</div>

<div id="popup11" class="overlay">
	<div class="popup">
		<h2>I'm popup 1, with SOOO MANY WORDS.</h2>
		<a class="close" href="#sponsorArea1">&times;</a>
		<div class="content">

			<p><%= lorem.paragraphs 8 %></p>

		</div>
	</div>
</div>