<div class="container-fluid eventList">
	<div class="row">

		<div class="col-sm-6 eventListWrapper">
			<img src="images/400_300.jpg" class="eventListImage">
			<h2><%= lorem.words 2%></h2>
			<p><%= lorem.paragraph %></p>
			<a href="#">
				<button class="eventLinkButton">
					前往活動
				</button>
			</a>
		</div>

		<div class="col-sm-6 eventListWrapper">
			<img src="images/400_300.jpg" class="eventListImage">
			<h2><%= lorem.words 2%></h2>
			<p><%= lorem.paragraph %></p>
			<a href="#">
				<button class="eventLinkButton">
					前往活動
				</button>
			</a>
		</div>

	</div>
</div>