---
title: Index - Graduation Party Template
---

<!--<%= partial "headerNav" %>-->

<!--<div class="welcome">
  <div class="logo">
    <%= image_tag "middleman-logo.svg" %>
  </div>
  <h1>Middleman is Running</h1>
  <p class="doc">
    <%= link_to "Read Documentation Online", "https://middlemanapp.com", target: "_blank" %>
  </p>
</div>-->

<div class="siteWrapper">
  <div class="siteWrapperInner">
    <div class="coverContainer">
      <div class="coverInner">
        <h1 class="coverHeading">Cover your page.</h1>
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
      </div>
    </div>
  </div>
</div>